* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: fantasy;
}


body, html {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    background-image: url(../gif/gif\ background.gif);
    background-repeat: no-repeat;
    background-size: cover;
}

main {
    flex: 1;
}

.menu {
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1px;
}

.menu ul {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.left, .center {
    flex-grow: 1;
    text-align: center;
    margin-right: 250px;
    font-size: 22px;
}

.center a, .left a {
    color: yellow;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    color: yellow;
    gap: 8px;  
}

.menu .left {
    margin-left: 60px;
}



.menu .right {
    display: flex;
    gap: 8px;
    margin-right: 10px;
    justify-content: flex-end;  
}

.menu .right a {
    text-transform: uppercase;
    text-align: center;
    padding: 10px;
    width: 100px;  
    white-space: nowrap;  
}

.menu .right a#fechar {
    width: auto; 
}


.menu li {
    color: white;
}

.right a {
    text-decoration: none;
    color: white;
    background-color: rgb(109, 60, 156);
    border-radius: 10px;
    transition: all 0.3s ease;
    box-shadow: 5px 5px 0px rgba(0, 0, 0, 0.2);
}

.right a:hover {
    transform: translate(-0px, -0px);
    box-shadow: 2px 2px 0px rgb(255, 255, 255);
}

nav ul {
    list-style-type: none;
    padding: 0px;
}

nav li {
    display: inline-block;
    color: white;
    padding: 10px;
}

nav li a {
    text-decoration: none;
    color: inherit;
}

/* FOOTER */
footer {
    background-color: black;
    padding: 20px 0;
    text-align: center;  
}

.footer-menu {
    display: flex;
    justify-content: center;  
    align-items: center;
    gap: 20px;  
}

.footer-menu ul {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
   
}

.footer-menu a {
    color: yellow;
    font-size: 26px;
    text-decoration: none;
    margin: 0; 
}

.footer-menu li {
    color: white;
    font-size: 18px;
    display: flex;
    align-items: center;
    gap: 8px;   
}

.footer-menu span {
    font-size: 16px;
    margin-left: 4px;
}

.parente {
    color: yellow;  
}

.numero {
    color: white; 
}




.acertos, .erros {
    text-transform: uppercase;
}

.acertos {
    margin-left: 75px;
}

select {
    padding: 15px 120px 15px 0px;
    font-size: 16px;
    border-radius: 15px;
    background-color: #f7e79a;
    color: rgb(0, 0, 0);
    cursor: pointer;
    outline: none;
}

select option {
    background-color: black;
    color: white;
}

select:focus {
    border-color: yellow;
    border: 2px solid #b2b2b2;
}

.nivel-container {
    display: flex;
    align-items: center;
    gap: 8px;  
}

.nivel-container label {
    color: yellow;
    font-size: 26px;
    white-space: nowrap;  
}


 
.numero {
    font-size: 400px;
    margin-left: 470px;
    text-align: center;
    cursor: pointer;   
    display: inline-block; 
    color: black;
}

.container-numero {
    text-align: center;
    display: inline-block;  
    width: auto;  
    margin: 0 auto;
}

.caixa-numero p {
    margin-top: 50px;
    margin-left: 370px;
    width: 610px;    
    height: 450px;   
     
    overflow: hidden;  
    text-align: center;
    line-height: 450px; 
}


 
.main {
    padding: 20px;  
    display: flex;
    justify-content: center;
}

.tela-login {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    background-image: url(../img/vapor\ wave\ sunset\ 4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    font-family: 'Press Start 2P', cursive;  
}

.formulario-login {
    background: linear-gradient(145deg, #2f2f2f, #141414);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.4), 0 0 20px #ff00fb;  
    border-radius: 12px;
    width: 300px;
    padding: 30px;
    text-align: center;
    border: 3px solid #ff58ff;  
}

.formulario-login h2 {
    font-size: 38px;
    color: #ffffff;
    text-shadow: 2px 2px 18px rgb(215, 82, 255);  
    margin-bottom: 20px;
}

.formulario-login input {
    margin: 15px 0;
    padding: 12px;
    width: 100%;
    border-radius: 8px;
    border-bottom: 3px solid #006d00;
    border-top: none;
    border-right: none;
    border-left: none;
    background-color: #929292;
    color: #fff;
    font-size: 16px;
    box-shadow: 0 0 2px #0cec0c;
    transition: all 0.3s ease;
}

.formulario-login input:focus {
    border-color: #00ff5e;
    box-shadow: 0 0 8px #6eff69;
    outline: none;
}

.formulario-login button {
    background-color: #ff00ff;
    color: white;
    border: none;
    padding: 14px;
    border-radius: 8px;
    width: 100%;
    font-size: 18px;
    cursor: pointer;
    box-shadow: 0 0 15px #ff00ff;
    transition: all 0.3s ease;
}

.formulario-login button:hover {
    background-color: #00ff00;
    box-shadow: 0 0 20px #00ff00;
    transform: scale(1.1);
}

.formulario-login button:active {
    transform: scale(1);
    box-shadow: 0 0 25px #ff00ff;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1);
    }
}

 
.formulario-login input:focus {
    animation: pulse 1s infinite;
}

.btnCadastrar {
    margin-top: 30px;
}
.btnCadastrar a {
    color: white;
}

.btnCadastrar a:hover {
    cursor: pointer;
    text-decoration: underline;
    color: #00ff04;
}
