h1 {
    text-shadow: 2px 2px 4px yellow;  
    text-align: center;
    font-size: 50px;
}

h3 {
    color: rgb(54, 174, 21);
}

li {
    font-weight: bold;
    margin-bottom: 15px;
}

img {
    width: 400px;
    border-radius: 15px;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.container div {
    padding: 20px;
}

.listaComBtn input {
    width: 500px;
    padding: 10px;
    margin-top: 20px;
    cursor: pointer;
    background-color: #000000;
    color: white;
    border: none;
    border-radius: 5px;
    text-align: center;
    transition: transform 0.3s ease;
}

.listaComBtn input:hover {
    background-color: #2c2c2c;
    transform: scale(0.9);
}